.admin-main {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.left-side {
    width: 15%;
    height: auto;
}
.left-side div {
    margin: 0 auto;
}
.left-side button {
    margin: 1em auto;
    width:clamp(10em,10vw,18em);
}
.inner-wrapper {
    display: flex;
    flex-direction: column;
}
.admin-main .right-side {
    padding: 0 1em;
    width: 100%;
}
