.admin-main {
    display: flex;
}
.left-side {
    height: 100vh;
    width: 10em;
}
.left-side button {
    margin: 1em auto;
}
.inner-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.admin-main main {
    padding: 0 1em;
}
