/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* #8CA9D3,F26659 */
:root {
    --p-color: #F26659;
    --s-color: #3663a1;
}
body,html {
    font-size: default;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
}
main hr {
    border: 1px solid var(--s-color);
}
i img {
    width: 1em;
}
.home-card img {
    width: 16em;
}
h1,h2,h3,h4,h5,h6,p,small,.dropdown-item,label {
    opacity: .9.3;
}
.collapse {
    width: 100%;
    font-weight: bold;
}
.dropdown-item {
    font-weight: bold;
}
.top-nav {
    width: 65%;
}
.top-nav li, .auth-nav li {
    margin: 0 auto;
}
main {
    margin: 5em 0 0 0;
}
/* clearing-code-duplicates */
.banner {
    background-repeat: no-repeat;
    background-position-x: 100%;
    padding: 3em;
    background-color: rgb(255, 255, 255);
}
article {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;
    background-blend-mode: multiply;
    background-color: var(--p-color);
}
.banner-content h1{
    color: var(--p-color);
}
.service-card,article,.copyright,.social {
    display: flex;
}
.service-card .card, .ceo-box .card {
    margin: 1em .6em;
}
.service-card,article {
    justify-content: center;
}
.service-card,.copyright {
    flex-wrap: wrap;
}
.copyright {
    justify-content: space-between;
}
/* clearing-code-duplicates */
/* --------------------- */
/* banner */
.banner {
    min-height: 30em;
    background-image: url(../images/ba.jpg);
    max-width: 100%;  
}
.banner-content {
    display: flex;
    flex-direction: column;
    margin: 4em 0;
}
.banner h1 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    letter-spacing: 5px;
    font-weight: bold;
}
.banner p {
    max-width: 60%;
    margin: 1em 0;
}
.count-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 25px;
}
.count-wrapper div {
    margin: 1em 3em;
    padding: 2em 5em;
    border-radius: 10px;
    font-size: 10px;
}
article {
    min-height: 24em;
    background-color: rgb(43, 43, 43);
    color: white;
}
.creation h1 span {
    font-size: 1em;
}
article {
    background-image: url(../images/do.jpg);
    align-items: center;
}
.portfolio {
    padding: 5em;
    height: 30em;
}
.ceo-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
}
.ceo-box .card a {
    padding: 1em;
}
.ceo-box div img {
    width: 200px;
}
/* ----- footer ----- */
footer {
    color: white;
    padding: 1em 0 0 0;
}
footer .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .info a {
    text-decoration: none;
    text-transform: capitalize;
}

.social img{
    width: 28px;
    transition: all 0.5s linear;
}
.social img:hover {
    transform: translateX(1.1);
}
.social-icons i a {
    text-decoration: none;
}
/* ----- footer ----- */
footer small {
    color: var(--p-color);
}
/*  */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.projects .card {
    margin: 2em 1em;
}
.projects img:hover {
    transition: all 0.5 linear;
    transform: translateX(1.1);
}
/*  */
.blogs .card {
    margin: 1em 0;
}
.blogs .card img {
    width: 16em;
    float:left;
}
/* ......... */
.google-map-banner {
    min-height: 30vh;
}
.color-redd {
    color: var(--p-color);
}
/* media query */
@media screen and (max-width: 1000px) {
    .top-nav li {
        margin: 0 auto;
    }
    .top-nav button {
        margin: 1em auto;
        width:clamp(10em,10vw,16em); 
    }
    .company,.social {
        margin: 0 auto;
    }
    .social {
        flex-direction: column;
    }
    .social-icons {
        margin: 1em auto;
    }
}
@media screen and (max-width: 590px) {
    .banner {
        text-align: center;
        background-blend-mode: multiply;
        background-color: rgb(233, 233, 233);
    }
    .banner p {
        max-width: 100%;
        color: var(--p-color);
        text-shadow: 1px 2px 1px black;
    }
}
/* -- ** music-course ** -- */
.course-content {
    margin: 1em;
}
.div-wrapper {
    margin: 1em 0;
}

/* google map */
.google-map-banner {
    margin: 0 0 2em 0;
}
.map-responsive{
    position:relative;
    min-height:20em;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
}