/* @tailwind base;
@tailwind components;
@tailwind utilities; */
body,html {
    font-size: default;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
}
i img {
    width: 1em;
}
h1 {
    opacity: .6;
}
.creation h1,.banner p {
    text-transform: capitalize;
}
.collapse {
    font-weight: bolder;
}
.top-nav {
    width: 70%;
}
.top-nav li, .auth-nav li {
    margin: 0 auto;
}
.top-nav button {
    width:clamp(6em,7vw,16em); 
    margin:0 1em;
}
/* clearing-code-duplicates */
.banner,article {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(100, 100, 100);
    padding: 3em;
}
.banner-content h1, .join-whatsapp a span {
    color: #10c1ee;
}
.service-card,article,.copyright,.social {
    display: flex;
}
.card, .ceo div {
    margin: 1em .6em;
}
.service-card,article {
    justify-content: center;
}
.service-card,.copyright {
    flex-wrap: wrap;
}
.copyright {
    justify-content: space-between;
}
/* clearing-code-duplicates */
/* --------------------- */
/* banner */
.banner {
    min-height: 30em;
    background-image: url(../images/banner-1.jpg);
    color: white;
    max-width: 100%;  
    text-align: center;
}
.banner h1 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.banner p {
    max-width: 65%;
    margin: 2em auto;
}
article,.ceo {
    min-height: 24em;
    background-color: rgb(43, 43, 43);
    color: white;
}
article {
    background-image: url(../images/do.jpg);
    align-items: center;
}
.portfolio {
    padding: 5em;
}
.ceo {
    background-image: url(../images/b1.jpg);
    background-color: #198778;
    background-blend-mode: multiply;
    padding: 2em;
    min-height: auto;
}
.ceo-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5em;
    max-width: 100%;
}
.ceo-box div img {
    width: 200px;
}

/* #198754 */
/* ----- footer ----- */

.copyright {
    color: white;
    min-height: 100%;
    padding: 1em;
}

.social img{
    width: 28px;
    transition: all 0.5s linear;
}
.social img:hover {
    transform: scaleX(1.1);
}
.social-icons i a {
    text-decoration: none;
}
span small {
    color: #198778;
}
/* ----- footer ----- */

/*  */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects div {
    margin: 1em 1em;
}
.projects img {
    width: 15em;
    cursor: pointer;
}
.projects img:hover {
    transition: all 0.5 linear;
    transform: translateX(1.1);
}
/*  */
.blog-create-btn {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}
/* media query */
@media screen and (max-width: 1000px) {
    .top-nav li {
        margin: 0 auto;
    }
    .top-nav button {
        margin: 1em auto;
        width:clamp(10em,10vw,16em); 
    }
    .company,.social {
        margin: 0 auto;
    }
    .social {
        flex-direction: column;
    }
    .social-icons {
        margin: 1em auto;
    }
}
@media screen and (max-width: 590px) {
    .banner {
        text-align: center;
    }
    .banner p {
        max-width: 100%;
    }
    
}
/* -- ** music-course ** -- */
.course-content {
    margin: 1em;
}

.div-wrapper {
    margin: 1em 0;
}